/*
*   Author: Brycen Medart
*   Website: https://treantlabs.com
*   License: MIT License
*/
/*
* VARIABLES
*/
* {
  margin: 0;
  padding: 0;
}

/*Change to set width of the popup message form*/
/*
*   Begin popup styles
*/
.hide {
  display: none;
}

.show {
  display: block;
}

.popup-overlay {
  width: 400px;
  position: absolute;
  /*Center vertically and horizontally within page*/
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
  flex-direction: column;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
  border-radius: 8px 8px 4px 4px;
}

.popup-overlay h2 {
  border-radius: 8px 8px 0 0;
  padding: 8px;
  box-shadow: 0px 0px 1px #222;
}

.popup-overlay .error {
  background-color: red;
  color: #fff;
}

.popup-overlay .warning {
  background-color: yellow;
  color: #222;
}

.popup-overlay .notification {
  background-color: orange;
  color: #222;
}

.popup-overlay .success {
  background-color: green;
  color: #fff;
}

.popup-overlay p,
.popup-overlay button {
  font-size: 1.2rem;
  padding: 8px;
  margin: 4px;
}

.popup-overlay p {
  /*no styles yet*/
}

.popup-overlay button {
  width: 80px;
  align-self: flex-end;
  cursor: pointer;
  border: none;
  outline: none;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.5);
  border-radius: 4px;
}

.popup-overlay button:hover {
  opacity: 0.8;
}
